{%extends "layout.html"%}


{%block body%}
<table class="table table-dark">
    <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">City</th>
         <th scope="col">Name</th>
         <th scope="col">Address</th>
         <th scope="col">Pincode</th>
     </tr>
    </thead>
    

<tbody>
   
   {% for row in rows %}
   <tr>
      <th>{{loop.index}}</th>
      <td>{{row["nav"] }}</td>
      <td>{{row["addd"] }}</td>
      <td> {{ row["cito"] }}</td>
      <td>{{row['pint'] }}</td>	
   </tr>
   {% endfor %}
</tbody>    
</table>
 
<form action="/" method="post">
<button type="submit">New Members</button>
</form>

{% endblock %}