{%extends "layout.html"%}


{%block body%}
<h1>
    Student Information:-
</h1>
<form action="/storeinfo" method="post">
    <label for="name">Enter your full name:-</label>
    <input type="text" id="storename" name="nav" placeholder="YourName"><br>
    <label for="addres">Give your address:-</label>
    <input type="text" id="add" name="pata" placeholder="Yourad"><br>
    <label for="city">City:-</label>
    <input type = "text" name = "city" placeholder="Yourci"><br>
    <label for="Pin">Pincode:-</label>
    <input type = "text" name = "pin" placeholder="Yourp"><br>

    <button type="submit">Store details</button>
</form>



{%endblock%}