{% extends "layout.html" %}

{% block body %}


<h1  style=" z-index: 3; background-color: rgb(36, 36, 86); font-size: 30px; text-align: center;">Here all books which you buyed will be shown here!:-</h1>



<div style="background-color: aliceblue; z-index:4;" class="flex place-content-center">

    <div style="margin-top: 40px;" class="basis-1/8">

        <table class=" table-fixed border-collapse border border-slate-500"   >
            <thead>
                <tr>
                    <th class="table-fixed border border-slate-900">Item number</th>
                    <th class="table-fixed border border-slate-800">Drink Name</th>
                </tr>
            </thead>
            <tbody>
                {%for i in  injing %}
                <tr>
                    <td class="table-fixed border border-slate-800">{{i.user_id}}</td>
                    <td class="table-fixed border border-slate-800"> {{i.order_name}}</td>
                </tr>
                {%endfor%}
        
    </tbody>
</table>
</div>
</div>

{% endblock %}
