<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User form</title>
</head>
<body>
    <form method="get" action="greet">
        Name <input autocomplete="off" autofocus name="username" placeholder="HEIE" type="text" id="into">
<br><br>
        Email <input type="email" name="Email" id="kd">
        <input type="submit" value="Filled form">
    </form>
</body>
</html>