


<!-- This code for db registrats.html -->


{% extends "layout.html" %}

{% block body %}
    <h1>Registrants</h1>
    <form action="/mail" method="post">
        <button  type="submit" value="Mailus">Mail</button>
    </form>
<table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Sports</th>
                <th scope="col">Remove the Id</th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                  <th scope="row">{{loop.index}}</th>

                    <td>{{ registrant['name'] }}</td>
                    <td>{{ registrant['sport'] }}</td>
                    <td>
                        <form action="/deregister" method="post">
                            <input name="id" type="hidden" value="{{ registrant['id'] }}">
                            <input type="submit" value="Deregister">
                        </form>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
